@use "/src/styles/utils" as *;

.header {
  padding-block: 13px;

  &__switch-theme-button {
    position: absolute;
    right: 30px;
    top: 30px;
    overflow: hidden;

    width: 60px;
    height: 60px;

    border: none;
    background-color: transparent;
    color: var(--line-color);
    padding: 5px;

    &-icon-container {
      display: inline-flex;
      height: 100%;
      width: 200%;
      gap: 5px;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }

    svg:first-child {
      stroke: currentColor;
    }

    svg:last-child {
      fill: currentColor;
    }

    &.is-dark &-icon-container {
      translate: -51% 0;
    }
  }
}