@use "/src/styles/utils" as *;

.header {
  padding-block: 13px;
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  gap: liquid(2, 5);;

  &__logo {
    display: contents;
  }
}