@use "/src/styles/utils" as *;

.logo {
  display: inline-flex;
  column-gap: liquid(0, 5);
  align-items: center;
  text-decoration: none;
  color: var(--line-color);

  > * {
    flex: 0 1 auto;
  }

  &__header {
    font-family: var(--main-font), sans-serif;
    font-weight: 400;
    font-size: liquid(30, 48);

    line-height: 1;
    text-align: center;
  }
}