.switch-theme-button {
  overflow: hidden;

  width: 60px;
  height: 60px;

  border: none;
  background-color: transparent;
  color: var(--line-color);

  --padding: 5px;
  padding: var(--padding);

  &-icon-container {
    display: inline-flex;
    height: 100%;
    width: 200%;
    gap: calc(var(--padding) * 1.75);
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  svg:first-child {
    stroke: currentColor;
  }

  svg:last-child {
    fill: currentColor;
  }

  &.is-dark &-icon-container {
    translate: -50% 0;
  }
}