@use "utils" as *;

@font-face {
  src: url("/src/fonts/Jaro-Regular.woff2") format("woff2");
  font-family: Jaro;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:where([fill]:not(
  [fill="none"],
  [fill^="url"],
  [fill^="#"]
)) {
  fill: currentColor;
}

:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"],
  [stroke^="#"]
)) {
  stroke: currentColor;
}

:root {
  --main-font: Jaro;

  --red-color-hex: #d91d23;
  --black-color-hex: #000;
  --black-color-rgb: 0 0 0;
  --white-color-hex: #FFF;
  --white-color-rgb: 255 255 255;
  --gray-color-hex: #252525;
  --grin-color-hex: #659a54;

  --container-inline-padding: 13px;
  --container-width: 450px;
}

:root[data-theme="dark"] {
  --background-color: var(--gray-color-hex);
  --line-color: var(--white-color-hex);
  --shadow-color: var(--white-color-rgb);
  --shadow-opacity: 0.2;
}

:root[data-theme="light"] {
  --background-color: var(--white-color-hex);
  --line-color: var(--black-color-hex);
  --shadow-color: var(--black-color-rgb);
  --shadow-opacity: 0.2;
}

* {
  transition: all 100ms ease-in-out;
}

body {
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-color);
  color: var(--line-color);

  display: flex;
  flex-direction: column;

  & > * {
    flex: 1 0 auto;
  }
}

main {
  display: grid;
  place-items: center;
}