@use "utils" as *;

@font-face {
  src: url("/src/fonts/Jaro-Regular.woff2") format("woff2");
  font-family: Jaro;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:where([fill]:not(
  [fill="none"],
  [fill^="url"],
  [fill^="#"]
)) {
  fill: currentColor;
}

:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"],
  [stroke^="#"]
)) {
  stroke: currentColor;
}

:root {
  --main-font: Jaro;

  --red-color: #d91d23;
  --black-color: #000;
  --gray-color: #252525;
  --white-color: #FFF;

  --container-inline-padding: 13px;
  --container-width: 450px;
}

:root[data-theme="dark"] {
  --background-color: var(--gray-color);
  --line-color: var(--white-color)
}

:root[data-theme="light"] {
  --background-color: var(--white-color);
  --line-color: var(--black-color)
}

* {
  transition: all 100ms ease-in-out;
}

body {
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-color);
}