@mixin hover($useEffectOnMobile: false) {
  @if ($useEffectOnMobile) {
    &:hover {
      @content;
    }
  } @else {
    @media (any-hover: hover) {
      &:hover {
        @content;
      }
    }
  }
}